### Introduction to while loop.

In [1]:
print("When did India get it's independence (year)?")
year = int(input())
while(year != 1947):
    print("You got it wrong. Enter once again.")
    year = int(input())
print("You got it right!!!")

When did India get it's independence (year)?
1947
You got it right!!!

### while to Compute Factorial.

In [2]:
print("Enter a number:")
n = int(input())
answer = 1
i = 1
while(i <= n):
    answer*=i
    i+=1
print(answer)

Enter a number:
4
24

### Tutorial on while loop.

In [3]:
# Factorial of a number.
num = int(input())
fact = 1
if (num < 0):
    print("Not defined.")
else:
    while(num > 0):
        fact*=num
        num = num - 1
    print(fact)

5
120

In [4]:
# Find number of digits in a given number.
num = int(input())
count = 1
while(num > 9):
    num = num//10
    count = count+1
print(count)

6
1

In [5]:
#Reverse the digits in the given number.
num = int(input())
rev = num%10
while(num > 0):
    num = num//10

5

### Introduction to for loop.

In [9]:
for i in range(10):
    print(i,"Hello India")
    print("#############")

0 Hello India
#############
1 Hello India
#############
2 Hello India
#############
3 Hello India
#############
4 Hello India
#############
5 Hello India
#############
6 Hello India
#############
7 Hello India
#############
8 Hello India
#############
9 Hello India
#############

In [14]:
n = int(input("Enter a number:"))

for i in range(n):
    if(i%2 == 0):
        print("I love India")
    else:
        print("I love the World")

Enter a number:4
I love India
I love the World
I love India
I love the World

### for loop to add the first n numbers.

In [17]:
n = int(input("Enter a number:"))
ans = 0
for i in range(n+1):
    ans+=i
print(ans)

Enter a number:7
28

### for loop for multiplication tables.

In [22]:
n = int(input("Enter a number:"))
for i in range(n):
    print("2 X", i+1, "=", (i+1)*2)

Enter a number:4
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8

In [23]:
for i in range(15,35):
    print("2 X", i, "=", 2*i)

2 X 15 = 30
2 X 16 = 32
2 X 17 = 34
2 X 18 = 36
2 X 19 = 38
2 X 20 = 40
2 X 21 = 42
2 X 22 = 44
2 X 23 = 46
2 X 24 = 48
2 X 25 = 50
2 X 26 = 52
2 X 27 = 54
2 X 28 = 56
2 X 29 = 58
2 X 30 = 60
2 X 31 = 62
2 X 32 = 64
2 X 33 = 66
2 X 34 = 68

### More on range and for loop without range.

In [1]:
for x in range(1,11,2):
    print(x)

1
3
5
7
9

In [2]:
for x in range(1,11,3):
    print(x)

1
4
7
10

In [3]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [5]:
for x in range(1,10):
    print(x)

1
2
3
4
5
6
7
8
9

In [6]:
for x in range(9, -1, -2):
    print(x)

9
7
5
3
1

In [9]:
country = 'India'
for letter in country:
    print(letter)

print('')
print(country[0])   
print(country[1])
print(country[2])
print(country[3])
print(country[4])

I
n
d
i
a

I
n
d
i
a

### Formatted Printing.

In [11]:
for x in range(10):
    print(x, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [16]:
d = 10
m = 5
y = 2021
print("Today's date is:", end = ' ')
print(d,m,y, sep = '/')

Today's date is: 10/5/2021

In [19]:
num = int(input())
for x in range (1,11):
    print(num, 'X', x, '=', num*x)

3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [21]:
num = int(input())
for i in range (1,11):
    print(f'{num} X {i} = {num*i}')

3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [4]:
i = 1
num = 0
while(i > 0):
    if( (i**2+i+41)%41 == 0 ):
        num = i
        break
    else:
        i = i+1
print(num)

40