### Lists and Sets.

In [1]:
l = list(range(10))
4 in l

True

In [2]:
y = {1,2,3,4,5}
print(type(y))

<class 'set'>

In [3]:
import sys
l = []
l1 = [0]
l2 = [0,1]
print(sys.getsizeof(l1))
x = list(range(100))
s = set(range(100))
print(sys.getsizeof(x))
print(sys.getsizeof(s))

64
856
8408

In [4]:
z = {'amit', 'neeru', 'anamika', 'varsha', 'nitin'}
print('anamika' in z)
print('Sai' in z)
z.add('Saicharan')
print(z)
print('Saicharan' in z)

True
False
{'Saicharan', 'anamika', 'nitin', 'varsha', 'amit', 'neeru'}
True

### Dictionaries.

In [5]:
d = {}
d['sudarshan'] = 123456789
d['amit'] = 987654321
d['ravi'] = 4567890123
print(d)

{'sudarshan': 123456789, 'amit': 987654321, 'ravi': 4567890123}

### Tuples.

In [6]:
t = (1,2,3,4)
print(t)

(1, 2, 3, 4)

In [9]:
import string
print(string.ascii_letters)
print(string.ascii_uppercase)
print(string.ascii_lowercase)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
ABCDEFGHIJKLMNOPQRSTUVWXYZ
abcdefghijklmnopqrstuvwxyz

### More on lists.

In [3]:
l1 = [1,2,3]
l2 = [10,20,30]
l12 = l1+l2
l21 = l2+l1
print(l12)
print(l21)

[1, 2, 3, 10, 20, 30]
[10, 20, 30, 1, 2, 3]

In [7]:
l1 = [0]*10
l2 = [1,2,3,4,5]*5
print(l1)
print(l2)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [9]:
l1 = [1,2,3]
l2 = [1,2,3]
l3 = [1,3,2]
print(l1 == l2)
print(l2 == l3)
print(l2 < l3)

True
False
True

In [13]:
print([1,2] < [2,1])
print([1] < [1,2,3])
print([2,3] < [3])
print([] < [3])

True
True
True
True

In [14]:
l = [1,2,4]
print(l)
l[2] = 3
print(l)

[1, 2, 4]
[1, 2, 3]

In [15]:
s = 'abce'
print(s[3])
s[3] = 'd'
print(s)

e

TypeError: 'str' object does not support item assignment

In [16]:
x = 5
y = x
x = 10
print(x,y)

10 5

In [18]:
l1 = [1,2,3]
l2 = l1
l1[0] = 100
print(l1,l2)

[100, 2, 3] [100, 2, 3]

In [21]:
# How to copy strings? We have three options.
l1 = [1,2,3]
l2 = list(l1)
l3 = l1[:]
l4 = l1.copy()
l5 = l1
print(l1)
print(l2)
print(l3)
print(l4)
print(l1 is l5)
print(l1 is l2)
print(l1 is l3)
print(l1 is l4)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
True
False
False
False

In [23]:
l = [1,2,3]
print(l)
l.append(4)
print(l)
l.insert(2,9)
print(l)
l.remove(2)
print(l)
l.pop(0)
print(l)

[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 9, 3, 4]
[1, 9, 3, 4]
[9, 3, 4]

In [25]:
l = [2,6,1,50,3,7,5]
l.sort()
print(l)
l.reverse()
print(l)

[1, 2, 3, 5, 6, 7, 50]
[50, 7, 6, 5, 3, 2, 1]

In [28]:
l = [79,1,3,56]
l.sort(reverse = True)
print(l)

[79, 56, 3, 1]

### More on Tuples.

In [30]:
t = 1,2,3
print(t, type(t))

x,y,z = t
print(x,y,z)

(1, 2, 3) <class 'tuple'>
1 2 3

In [32]:
x = 5
y = 10
x,y = y,x
print(x,y)

10 5

In [35]:
l = [10]
print(l, type(l))
t = (10)
print(t, type(t))
s = (10,)
print(s,type(s))

[10] <class 'list'>
10 <class 'int'>
(10,) <class 'tuple'>

In [39]:
e = ([1,2], ['a', 'b'])
print(e)
#e[0] = [10,20]
e[0][0] = 10
print(e)

([1, 2], ['a', 'b'])
([10, 2], ['a', 'b'])

In [41]:
t1 = (1,2,3)     # Hashable.
t2 = ([1,2,3],)  # Not Hashable.

### More on Dictionaries.

In [42]:
# A dictionary key has to be immutable and hashable.

In [46]:
d = {0:0, 1:1, 2:4, 3:9, 4:16}
print(d)
for key in d:
    print(key, d[key])

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
0 0
1 1
2 4
3 9
4 16

In [47]:
d = {0:0, 1:1, 2:4, 3:9, 4:16}
print(d.keys())
print(d.values())
print(d.items())

dict_keys([0, 1, 2, 3, 4])
dict_values([0, 1, 4, 9, 16])
dict_items([(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)])

### More on Sets.

In [48]:
# Similar to Mathematical Sets.

In [49]:
A = {1,2,3}
B = {1,2,3,4,5}
print(A.issubset(B))

True

In [50]:
A = {1,2,3}
B = {3,4,5}
C1 = A.union(B)
C2 = A|B
print(C1,C2)

{1, 2, 3, 4, 5} {1, 2, 3, 4, 5}

In [51]:
A = {1,2,3}
B = {3,4,5}
C1 = A.intersection(B)
C2 = A&B
print(C1,C2)

{3} {3}

In [52]:
A = {1,2,3}
B = {3,4,5}
C1 = A.difference(B)
C2 = A-B
print(C1,C2)

{1, 2} {1, 2}