In [2]:
ram_bank_balance = 100000   # Make variable names self explanatory.
# Ram's bank balance. This will be positive.
ram_loan = 500000                               # Add commments!!!!
# Ram's loan. This will be negative.

lakshman_bank_balance = 2000000
lakshman_loan = 1000000

net_income = lakshman_bank_balance + ram_bank_balance
# Total bank balance of both the brothers.
net_liability = ram_loan+lakshman_loan
# Total loan of both the brothers.

final_value = net_income-net_liability
print(final_value)

600000

In [4]:
# Dynamic Typing illustration.
a = 10
print(type(a))
a = 'India'
print(type(a))

<class 'int'>
<class 'str'>

In [9]:
n = 10
print(type(n))
print(n)
n = n/2
print(type(n))
print(n)
n = n/1        # Even if we divide by 1.
print(type(n))
print(n)

<class 'int'>
10
<class 'float'>
5.0
<class 'float'>
5.0

In [10]:
# Multiple assignment.
x,y = 1,2
print(y,x)

2 1

In [16]:
x = y = z = 10
print(x,y,z)

10 10 10

In [17]:
# Swap the values.
x,y = 1,2
print(x,y)
x,y = y,x
print(x,y)

1 2
2 1

In [19]:
# Deleting a variable.
x = 10
print(x)
#del x
#print(x)

10

In [21]:
# Shorthand operators.
count = 0
count = count + 1
count = count + 1
count = count + 1
count = count + 1
print(count)

#Alter
count = 0
count += 1
count += 1
count += 1
count += 1
print(count)

4
4

In [22]:
count = 10
count -= 1
count = count - 1
print(count)

8

In [23]:
count = 10
count *= 2
count = count*2
print(count)

40

In [24]:
count = 10
count /= 2
count = count/2
print(count)

2.5

In [25]:
# in operator
print('alpha' in 'alpha-numeric')
print('alpha' in 'yea-nboi')

True
False

In [26]:
# Changing operators.
x = 5
print(1 < x < 10)
print(10 < x < 20)
print(x < 10 < x*10 < 100)
print(10 > x <= 9)
print(5 == x > 4)

True
False
True
True
True

### Escape characters and Types of quotes.

In [30]:
print('It\'s a beautiful day.')
print("We are from \"IIT\" Madras.")

It's a beautiful day.
We are from "IIT" Madras.

In [31]:
# Tab \t.
print('My name is Saicharan Ritwik. I am from New Delhi.')
print('My name is Saicharan Ritwik. \t I am from New Delhi')

My name is Saicharan Ritwik. I am from New Delhi.
My name is Saicharan Ritwik. 	 I am from New Delhi

In [32]:
#Printing on different lines.
print("My name is Saicharan Ritwik. \nI am from New Delhi.")

My name is Saicharan Ritwik.
I am from New Delhi.

In [33]:
print("It's a beautiful day.")
print('We are from "IIT" Madras.')

It's a beautiful day.
We are from "IIT" Madras.

In [34]:
x = 'This is a string.'
y = "This is also a string."
print(x)
print(y)

This is a string.
This is also a string.

In [36]:
z = '''First Line
Second Line
Third Line
Fourth Line
'''
print(z)

First Line
Second Line
Third Line
Fourth Line

### String Methods.

In [37]:
x = 'Python String Methods'
print(x.lower())
print(x.upper())
print(x.capitalize())
print(x.title())
print(x.swapcase())

python string methods
PYTHON STRING METHODS
Python string methods
Python String Methods
pYTHON sTRING mETHODS

In [43]:
x = 'python'
print(x.islower())
y = 'PYTHON'
print(y.isupper())
z = '3D Modeling'
print(z.istitle())
a = '123'
print(a.isdigit())
b = 'absdlkhkhfwenhfiowhfkerh'
print(b.isalpha())
c = '123sai'
print(c.isalnum())

True
True
True
True
True
True

In [45]:
#Strip methods.
x = '-----Python-----'
print(x.strip('-'))
print(x.lstrip('-'))
print(x.rstrip('-'))

Python
Python-----
-----Python

In [47]:
x = 'Python'
print(x.startswith('P'))
print(x.endswith('n'))

True
True

In [48]:
x = 'Python String Methods'
print(x.count('t'))
print(x.count('s'))
print(x.count('S'))
print(x.index('t'))
print(x.index('s'))

x = x.replace('S','s')
x = x.replace('M','m')
print(x)

3
1
1
2
20
Python string methods

### An Interesting Cipher: More on Strings.

In [49]:
alpha = 'abcdefghijklmnopqrstuvwxyz'
i = 0
print(alpha[i])
print(alpha[i+1])
print(alpha[i+2])
print(alpha[i+3])

a
b
c
d

In [50]:
print(alpha[20]) #shows 21st alphabet.

u

In [55]:
i = 30
print(alpha[i%26])
i = 26
print(alpha[i%26])
i = 27
print(alpha[i%26])

e
a
b

In [60]:
s = 'sudarshan'
t = ''

i = 0 #Variable for string index.
k = 20 #Variable for shift.
t = t+alpha[(((alpha.index(s[i]))+k)%26)] 
t = t+alpha[(((alpha.index(s[i+1]))+k)%26)]
t = t+alpha[(((alpha.index(s[i+2]))+k)%26)]
t = t+alpha[(((alpha.index(s[i+3]))+k)%26)]
t = t+alpha[(((alpha.index(s[i+4]))+k)%26)]
t = t+alpha[(((alpha.index(s[i+5]))+k)%26)]
t = t+alpha[(((alpha.index(s[i+6]))+k)%26)]
t = t+alpha[(((alpha.index(s[i+7]))+k)%26)]
t = t+alpha[(((alpha.index(s[i+8]))+k)%26)]
print(t)

moxulmbuh

### If statement.

In [62]:
print("Please enter your date of birth:")
year = int(input())

current_year = 2023
age = current_year-year
if (age < 13):
    print("You cannot watch this movie.")
else:
    print("Masti.")
print("Have a nice time.")

Please enter your date of birth:
2001
Masti.
Have a nice time.

### Tutorial on if, else, if else conditions.

In [63]:
num = int(input('Enter a number: '))
if (num%2 == 0):
    print("Even")
else:
    print("Odd")

Enter a number: 2
Even

In [66]:
num = int(input('Enter a number:'))
if (num%5 == 0):
    if (num%10 == 0):
        print('0')
    else:
        print('5')
else:
    print('Other')

Enter a number:-20
0

In [72]:
marks = int(input('Enter your marks: '))
if(marks >= 0 and marks <=100):
    if (marks >= 90):
        print('A')
    if (marks >= 80 and marks < 90):
        print('B')
    if (marks >= 70 and marks < 80):
        print('C')
    if (marks >= 60 and marks < 70):
        print('D')    
    if (marks < 60):
        print('E')
else:
    print('Invalid input.')

Enter your marks: 120
Invalid input.

### Introduction to import library.

In [77]:
import math
print(math.log(10))
print(math.sin(90))
print(math.sqrt(10))
print(math.pow(10,3))

2.302585092994046
0.8939966636005579
3.1622776601683795
1000.0

In [78]:
import random
print(random.random())

0.49702441030851885

In [84]:
# Let us simulate a coin toss.
a = random.random()
if (a < 0.5):
    print('Heads')
else:
    print('Tails')

Tails

In [87]:
dice1 = random.randrange(1,7)
dice2 = random.randrange(1,7)
print(dice1+dice2)

6